
  <div class="container">
    <div class="row text-center">
      <div class="col lg-8">
          <%= form_for @article do |f| %>
            <%= f.text_area :title %>
            <%= f.text_area :content %>
            <%= f.submit %>
          <% end %>
      </div>
    </div>
  </div>
