
  <div class="container">
    <div class="row text-center">
      <div class="col lg-8">
          <div class="d-flex justify-content-center ">
            <div class="col-4">
              <h1><%= @article.title %></h1>
            </div>
            <strong class="d-flex align-self-center"> <%= button_to "update", edit_article_path(@article), method: :get, class: "btn btn-warning" %> </strong>
            <strong class="d-flex align-self-center"> <%= button_to "delete", @article, method: :delete, class: "btn btn-danger" %> </strong>
          </div>
          <p> <%= @article.content %> </p>
      </div>
    </div>
  </div>
